TEMPLATE/TEMPLATE_STM32F103C8T6/.cache/
TEMPLATE/TEMPLATE_STM32F103C8T6/build/

TEMPLATE/TEMPLATE_STM32F103ZET6/.cache/
TEMPLATE/TEMPLATE_STM32F103ZET6/build/

TEMPLATE/TEMPLATE_STM32F407ZGT6/.cache/
TEMPLATE/TEMPLATE_STM32F407ZGT6/build/

MINIMUM-DEMO/Minimum-With-HAL/.cache
MINIMUM-DEMO/Minimum-With-HAL/build

MINIMUM-DEMO/Minimum-Without-HAL/.cache
MINIMUM-DEMO/Minimum-Without-HAL/build